*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
}
h2{
    position: absolute;
    font-size: 20px;
    text-transform: uppercase;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.imgBx{ 
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)), url(img/bg.jpg);
    background-size: cover;
    position: fixed;
    background-position: center ;
    clip-path: circle(0% at center);
}
.imgBx .cation{
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}
.container{
    position: relative;
    min-height: 100vh;
    margin-top: 200vh;
    background: #fff;
    padding: 100px;
}
.container h2{
    position: relative;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.container p{
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize; 
}

