*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --oneClr: #ffa500;
    --towClr: #4b0082;
    --threeClr: #fff;
    
}
img{
    width: 100%;
}
section{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: url(./img/bg.jpg);
    background-attachment: fixed;
    background-position: center ;
    clip-path: circle(00px at center);
}
.container{
    position: relative;
    margin-top: 100vh;
    height: 550px;
    max-width: auto;
    width: 100%;
    background-color: var(--threeClr);
    color: var(--towClr);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.box{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.box h2{
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.box p{
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
   
}
img{
    width: 100%;
}
.gellary{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 150px 150px 150px;
}
